body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8e8e8e;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background-color: #131010;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#display {
    width: 93%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff82;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: #00ff26ad;
}
